---
// import BaseHead from '../../components/basehead.astro';
// import FormattedDate from '../../components/formatted-date.astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/layout.astro';
import Container from '../../components/container.astro';
import Sectionhead from "../../components/section-head.astro";
import {
  BackgroundImage,
  BackgroundPicture,
  Picture,
  ImageSupportDetection,
  /* @ts-ignore */
} from "astro-imagetools/components";

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---


<Layout title={'Expat Articles'}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Articles for Expats</Fragment>
      <Fragment slot="desc">
        All articles written by <strong>local expats</strong>, who together have years of experience living in Barcelona!
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          posts.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.data.image.src as any}
                    alt={blogPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    attributes={{
                      class: "w-full rounded-md"
                    }}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                  />
									
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {blogPostEntry.data.author}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>