---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/main-layout.astro';
import Container from '../../components/page-container.astro';
import Sectionhead from "../../components/section-head.astro";
// Images: https://docs.astro.build/en/guides/images/#images-in-content-collections

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---

<Layout title={'Expat Articles'}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Articles for Expats</Fragment>
      <Fragment slot="desc">
        All articles written by <strong>local expats</strong>, who together have years of experience living in Barcelona!
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          posts.map((blogPostEntry, _index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
									<Image
                    src={blogPostEntry.data.cover}
                    alt={blogPostEntry.data.coverAlt}
                    // sizes="(max-width: 800px) 100vw, 800px"
                    class:list={"w-full rounded-md"}
                  />

                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {blogPostEntry.data.author}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>