---
import type { CollectionEntry } from "astro:content";

type Props = {
	post: CollectionEntry<"blog">;
  next?: CollectionEntry<'blog'>;
  prev?: CollectionEntry<'blog'>;
  related?: CollectionEntry<'blog'>;
};

const { post, next, prev, related } = Astro.props;
---

{
  next || prev || related ? (
    <div class="mx-auto max-w-lg my-6 md:my-12"><hr /></div>
    <div class="mx-auto max-w-lg py-6 px-6 my-6 md:my-12 mb-0 rounded-lg bg-slate-100 border-slate-300">
      {
        next || prev ? (
          <p class="mb-8 text-center"><strong class="text-base">{post.data.title}</strong> is part of a post series. View the following posts below:</p>
          <div class="flex justify-between mb-8">
            <div class="flex-shrink-0 basis-1/2 flex justify-start">{prev ? (
              <a class="flex flex-col gap-2 w-full font-bold max-w-32" href={`/blog/${prev.slug}`} title={prev.data.title}>
                <img src={prev.data.cover.src} alt={prev.data.coverAlt ?? prev.data.title} class="w-20 md:w-32 h-14 md:h-20 mx-auto object-cover" />
                <span class="text-center text-xs">&laquo; {prev.data.title}</span>
              </a>
            ) : undefined}</div>
            <div class="flex-shrink-0 basis-1/2 flex justify-end">{next ? (
              <a class="flex flex-col gap-2 w-full font-bold max-w-32" href={`/blog/${next.slug}`} title={next.data.title}>
                <img src={next.data.cover.src} alt={next.data.coverAlt ?? next.data.title} class="w-20 md:w-32 h-14 md:h-20 mx-auto object-cover" />
                <span class="text-center text-xs">{next.data.title} &raquo;</span>
              </a>
            ) : undefined}</div>
          </div>
        ) : undefined
      }
      { (next || prev) && related ? (
        <hr />
      ) : undefined}
      {
        related ? (
          <div class="mx-auto mt-8 flex flex-col items-center">
            <p class="text-center">Related post:<br /><strong class="text-lg">{related.data.title}</strong></p>
            <a class="font-bold text-xl text-center my-4 mb-0 mx-auto inline-block" href={`/blog/${related.slug}`} title={related.data.title}>
              <img src={related.data.cover.src} alt={related.data.coverAlt ?? related.data.title} class="w-40 h-28 md:w-64 md:h-44 mx-auto object-cover" />
            </a>
          </div>
        ) : undefined
      }
    </div>
  ) : undefined
}
