---
import type { CollectionEntry } from 'astro:content';
import PostCategoryTag from './post-category-tag.astro';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;

---

<div class="mx-auto max-w-3xl mt-8 lg:mt-16">
        
  <div class="justify-between flex flex-row items-center mb-4">
    <PostCategoryTag category={post.data.category}></PostCategoryTag>
    <div class="flex gap-2 my-2 items-center justify-end flex-wrap md:flex-nowrap">
      <span class="text-gray-700 whitespace-nowrap text-base">
        <span class="font-medium">Published:</span>{' '}
      </span>
      <time
        class="text-gray-700 whitespace-nowrap text-base font-light"
        datetime={post.data.publishDate.toISOString()}>
        {post.data.publishDate.toDateString()}
      </time>
    </div>
  </div>
  
  <h1
    class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight" style="text-wrap: balance;">
    {post.data.title}
  </h1>
  <p class="my-6 text-xl leading-normal text-gray-700">{post.data.snippet}</p>
</div>