---

interface Props {
  placeName?: string;
  recommendation?: string;
  address?: string;
  website?: string;
  map?: string;
  seating?: string;
  class?: string;
}

const {
  placeName,
  address,
  recommendation,
  website,
  map,
  seating,
  class: className,
  ...rest
} = Astro.props;

---

<div
  class:list={[
    "my-4 mb-8",
    className,
  ]}
  ><slot />
  { placeName && <p class="!my-1"><strong>🔍 Place</strong>: {placeName}</p>}
  { address && <p class="!my-1"><strong>📍 Address</strong>: {address}</p>}
  { website && <p class="!my-1"><strong>🔗 Website</strong>: <a href={website} target="_blank">{website}</a></p>}
  { map && <p class="!my-1"><strong>📌 Map</strong>: <a href={map.trim()} target="_blank">Link</a></p>}
  { seating && <p class="!my-1"><strong>🪑 Seating</strong>: {seating}</p>}
  { recommendation && <p class="!my-1"><strong>👍 Recommendation</strong>: {recommendation}</p>}
  </div>
