---
import { SEO, type Props as OGProps } from "astro-seo";
import Footer from "../components/page-footer.astro";
import Navbar from "../components/nav-bar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import { ViewTransitions } from "astro:transitions";
export interface Props {
  title: string;
  snippet?: string;
  ogData?: OGProps['openGraph'];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/og-image.jpg", Astro.site).toString();

const { title, snippet = "", ogData = undefined } = Astro.props;

let opengraph: OGProps['openGraph'] = {
  basic: {
    url: canonicalURL,
    type: "website",
    title: `Pocket Barcelona - a website run by real Barcelona based residents`,
    image: resolvedImageWithDomain,
    ...(ogData?.basic ?? {}),
  },
  image: {
    alt: "Barcelona",
  },
};

const makeTitle = title
  ? title + " | " + "Barcelona Experts"
  : "Barcelona Experts - Experience Barcelona like a local";
const ogSnippet = snippet
  ? snippet
  : "Pocket Barcelona - run by real people who live in Barcelona. We also have a very active chat group on Whatsapp which is free to join!";
---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ImageSupportDetection /> -->

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={ogSnippet}
      canonical={canonicalURL}
      openGraph={opengraph}
    />
    <ViewTransitions fallback="swap" />
  </head>
  <body class="pt-[60px] lg:pt-[72px]">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
